.form {
    display: flex;
    width: 100%;
    max-width: 20%;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.login-element-width {
    width: 80%;
}

.button {
    height: 50px;
    margin: 8px 8px 8px 0;
}

.spinner {
    margin: 0 auto;
}