@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-light-blue, 400);
$my-accent: mat-palette($mat-cyan, 600);

$my-theme: mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);
